<div class="paragraph__accordion-panel">
    <div id="accordion" class="accordion">
        <div class="accordion-panel expanded">
            <div class="accordion-header">
                {{ accordionHeading }}
            </div>
            <div class="accordion-body">
                {{ accordionBody }}
            </div>
        </div>
        <div class="accordion-panel">
            <div class="accordion-header">
                {{ accordionHeading }}
            </div>
            <div class="accordion-body">
                {{ accordionBody }}
            </div>
        </div>
        <div class="accordion-panel">
            <div class="accordion-header">
                {{ accordionHeading }}
            </div>
            <div class="accordion-body">
                {{ accordionBody }}
            </div>
        </div>
    </div>
</div>
