<div class="paragraph paragraph__thumb-grid">
    {% if title != NULL %}
        <div class="paragraph__title">
            {{ title }}
        </div>
    {% endif %}
    {% if subtitle != NULL %}
        <div class="paragraph__subtitle">
            {{ subtitle }}
        </div>
    {% endif %}
    {% if imagePosition == 'right' %}
        {% set imagePosition = 'image__right' %}
    {% endif %}
    <div class="paragraph__thumb-grid--content row space-between {{ imagePosition }}">
        <div class="image--block">
            <img src="{{ imgURL }}" alt="">
        </div>
        <div class="paragraph__content-block">
            {% if thumbTitle != NULL %}
                <div class="paragraph__title">
                    {{ thumbTitle }}
                </div>
            {% endif %}
            {% if thumbContent != NULL %}
                <div class="paragraph__content">
                    {{ thumbContent }}
                </div>
            {% endif %}
            {% if ctaText != NULL %}
                {% if ctaURL != NULL %}
                    <div class="paragraph__cta">
                        <a href="{{ ctaURL }}">
                            {{ ctaText }}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
