<div class="update">
  <div class="update--thumbnail">
    <img src="{{ image }}" alt="">
  </div>
  <div class="update--content">
    <div class="update--content-date">
      <span class="calendar"></span>
      {{ date }}
    </div>
    <div class="update--content-title">
      {{ title }}
    </div>
    <div class="update--content-description">
      {{ description }}
    </div>
    <div class="update--content-link">
      <a href="{{ linkURL }}">
        {{ linkText }}
        <span class="viewMore"></span>
      </a>
    </div>
  </div>
</div>
