<div class="voucher">
  <div class="voucher--details">
    <div class="voucher--details-title">
      {{ title }}
    </div>
    <div class="voucher--details-price">
      &#8377;
      {{ price }}
    </div>
    <div class="voucher--details-cta">
      <a href="{{ ctaURL }}" title="">
        {{ ctaText }}
      </a>
    </div>
  </div>
  <div class="voucher--image">
    <img src="{{ image }}" alt="">
  </div>
</div>
